.upper-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

.class-container {
  width: 40%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.details {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.details-card {
  width: 100%;
  margin: 10px;
  background-color: grey;
  color: white;
  border: 1px solid black;
}

.lower-container {
  display: flex;
  flex-direction: row;
}

.save-character {
  height: 3rem;
  width: 15rem;
  margin-top: 5rem;
  background: #FCC400;
  font-size: 1.75rem;
}
